/**
 * Regions, basics to show off the regions.
 */
 body {
     background-color: #fffbc0;
 }
.wrap-all {
    margin: 0 auto;
    max-width: 950px;
    background-color: white;
    padding: 10px 10px 0 10px;

}

.footer-column {
    display:table-cell;
    float:left;
    width:32.29166667%;
    margin-left:.51783333%;
    margin-right:.51783333%;
    background-color: #f1ecd7;
    overflow: auto;
    // box-shadow: 0 0 0 2px #454546 inset;
    height:230px;
    border-radius: 7px;
}

.footer-column-x {
    padding-left: 11px;
}


.footer-column-wrapper {
    overflow:auto;
    background-color:#97c695;
    padding: 9px 5px;
    margin-top:5px;
    display: table;
    width: 99%;
    border-radius: 8px;
}



.sidebar {
    width: 33%;
    float: left;
}

.main .has-sidebar {
    width: 67%;
    float: left;
}

.outer-wrap-footer {
    clear: both;
    margin-bottom: 22px;
    margin-top: 20px;
}

.site-footer {

    ul {
        margin: 0;
        padding: 0;
        list-type: none;
    }

    li {
        display: inline;
    }
}

// .footer-column {
//     ul {
//         margin: 0;
//         padding: 1em;
//         list-style-type: circle;
//     }
// }

.next-previous {
    .next,
    .previous {
        width: 50%;
    }

    .next {
        float: right;
        text-align: right;
    }
}

.breadcrumb {
    margin-bottom: 22px;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

    }

    li {
        display: inline-block;

        &::after {
            content: " » ";
        }
    }
}

.outer-wrap-breadcrumb {
    background-color: #aadde2;
    margin-right: -10px;
    margin-left: -10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.outer-wrap-breadcrumb a {
    text-decoration: none;
}

.site-footer {
    background-color: #aadde2;
    text-align: center;
    margin-top: 15px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-right: -10px;
    margin-left: -10px;
}

.site-header {
    position: relative;
}


/** --------------------------------------------------------------
 *  Header
 */

// Size of max navbar button
.rm-max .rm-small .rm-button {
    font-size: 1.7em;
}

@maxButtonFontSize: 1.7em;

// Style navbar
.rm-desktop li {
    background-color: #096;
}

@navbarItemBgColor: #096;


// Size each item in the header
.site-logo-text,
.navbar2,
.profile {
    float: left;
    width: 30%;
}

.site-header {
    height: 80px;
}

// Site title
.site-logo-text {
    font-size: 2em;

    a {
        text-decoration: none;
    }
}
